# b/178988508
dontaudit hal_power_default hal_power_default:capability dac_override ;
dontaudit hal_power_default hal_power_default:capability dac_override ;
